{
  BasedOnStyle: LLVM,
  IndentWidth: 8,
  BreakBeforeBraces: Linux,
  AllowShortFunctionsOnASingleLine: false,
  AllowShortIfStatementsOnASingleLine: Never,
  Standard: Auto,
  IndentCaseLabels: false,
  AlignAfterOpenBracket: Align,
  AlignConsecutiveAssignments: true,
  AlignOperands: false,
  AlignTrailingComments: true,
  ColumnLimit: 100
}
